# Logs
logs
*.log
npm-debug.log*

#Package dependcies
BackEnd/node_modules/


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
# .DS_Store should be uhm ignore
#.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Paswords - remove later remmmemmber!
#BackEnd/config/config.json
#BackEnd/.env/
#.DS_Store
