
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');

body
{
	background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
	min-height:100vh;
	font-family: 'Noto Sans', sans-serif;
}

.box{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.89);
	border-radius:3px;
	padding:70px 100px;
}

.input_box{
	position:relative;
	margin-bottom:25px;
}
.input_box label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;	
    
	transition: all 0.5s ease-in-out;
}
.input_box input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}
.input_box input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}

.input_box input:focus ~ label,
.input_box input:valid ~ label{
	top:-12px;
	font-size:12px;
	
}

.errorSpan{
    color: red;
}