.dropdown-content {
    background-color: aliceblue;
    /* display: inline-block; */
    display: none;
    position: absolute;
    max-height: 150px; 
    overflow-y: auto;
    width: 50%;
    border: 1px solid #ccc;
    z-index: 1;
}

